# Apache rewrite
# Turn on the Rewrite engine
RewriteEngine On



# Quick Guide for RewriteRule Usage :
# =====================================

#   - RewriteRule - Tells Apache that this like refers to a single RewriteRule.
#   - ^/pet-care/?$ - The "pattern". The server will check the URL of every request to the site to see if this pattern
#     matches. If it does, then Apache will swap the URL of the request for the "substitution" section that follows.
#   - pet_care_info_01_02_2003.php - The "substitution". If the pattern above matches the request, Apache uses this
#     URL instead of the requested URL.
#   - [NC,L] - "Flags", that tell Apache how to apply the rule. In this case, we're using two flags. "NC", tells Apache
#     that this rule should be case-insensitive, and "L" tells Apache not to process any more rules if this one is used.
#   - "# Handle requests for 'pet-care' " - Comment explaining what the rule does (optional but recommended)

# Sample Rewrite :

# RewriteRule    ^products/([0-9]+)/?$    show_a_product.php?product_id=$1    [NC,L]    # Handle product requests
